@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Aldrich', sans-serif;
	width: 100%;
}

/* CART */
.nav{
	margin-top: 10px;
}
.nav{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	height: 60px;
}
.nav a{
	font-size: 25px;
	position: absolute;
	top: 10px;
	left: 20px;
	text-decoration: none;
	color: black;
}
.nav h1{
	display: inline;
	font-size: 30px;
}
.headling{
	margin-top: 30px;
	margin-left: 9.9%;
}
.container{
	display: flex;
	flex-direction: row;
	width: 70%;
	margin: auto;
	height: 100%;
}
.results{
	flex: 1;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	min-height: 300px;
}
.results h3{
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 120%;
	font-size: 26px;
}
.item{
	width:100%;
	height: 300px;
	border-radius: 4px;
	border: 0.005cm solid #ebebeb;
	box-shadow: 3px 3px 3px lightgray;
	margin-bottom: 20px;
}
.cost{
	margin-left: 53%;
	color: #29f23a;
	font-size: 20px;
}
.checkout{
	font-weight: lighter;
	margin-left: 20px;
	text-decoration: none;
	color: #ffffff;
	background-color: black;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	font-size: 20px;
}
.empty-cart{
	position: relative;
	width: 70%;
	margin-left: 15%;
}
.empty-h1{
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: lighter;
}
.item img{
	padding-left: 10%;
	float: left;
	position: relative;
	width: 50%;
	margin-right: 20px;
	height: 99%;
}
.item-info{
	position: relative;
	width: 40%;
	float: left;
	height: 100%;
	padding: 30px;
	font-weight: lighter;
}
.order-btn{
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color: black;
	color: #fff;
	margin-top: 20px;
}
.cnl-btn{
	cursor: pointer;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-color:#fa3434;
	color: #fff;
	margin-top: 20px;
}
.item-info form{
	display: inline;
}

/* FOOTER */
footer{
	position: relative;
	bottom: -80px;
	color: #fff;
	height: 20vh;
	width: 100%;
	background-color: black;
	text-align: center;
	font-size: 13px;
}
footer .social{
	transition: 1.2s;
	padding: 17px;
	font-size: 13px;
	opacity: .7;
	font-weight: lighter;
	margin-top: 5px;
}
footer .social a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	opacity: .7;
}
footer .social a:hover{
	opacity: 1;
}
footer .credit{
	opacity: .7;
	font-size: 10px;
	position: relative;
	bottom: 0px;
	font-weight: lighter;
}
footer .credit h1{
	font-size: 10px;
	font-weight: lighter;
}
